.property-prim-rio-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
  
  .property-prim-rio-wrapper .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 7px;
    position: relative;
  }
  
  .property-prim-rio-wrapper .text-wrapper-2 {
    color: #000000;
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    position: relative;
    width: fit-content;
  }
  
  .property-prim-rio-wrapper .expand-more {
    height: 21px;
    position: relative;
    width: 21px;
  }
  
  .property-prim-rio-wrapper .text-wrapper-3 {
    color: #000000;
    font-family: var(--caption-font-family);
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    position: relative;
    width: fit-content;
  }
  
  .property-prim-rio-wrapper .frame-2 {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 108px;
  }
  
  .property-prim-rio-wrapper .person {
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .property-prim-rio-wrapper .text-wrapper-4 {
    color: #000000;
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .property-prim-rio-wrapper .group-fill-wght {
    height: 16px;
    margin-left: -1.00px;
    position: relative;
    width: 16px;
  }
  
  .property-prim-rio-wrapper .text-wrapper-5 {
    color: #000000;
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    margin-right: -1.00px;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .property-prim-rio-wrapper.segundo {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: var(--dropdown);
  }
  
  .property-prim-rio-wrapper.prim-rio {
    gap: 8px;
  }
  