.group {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow:
      0px 0px 0px #0000001f, 0px 3px 8px #0000001c, 0px 14px 14px #0000001a, 0px 31px 19px #0000000f, 0px 56px 22px #00000005, 0px 87px 24px transparent;
    height: 413px;
    opacity: 0.35;
    position: relative;
    width: 355px;
  }
  
  .group .img {
    height: 310px;
    left: 0;
    position: absolute;
    top: 0;
    width: 355px;
  }
  
  .group .frame-7 {
    align-items: center;
    display: inline-flex;
    gap: 7px;
    left: 22px;
    position: absolute;
    top: 326px;
  }
  
  .group .frame-8 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 9px;
    position: relative;
  }
  
  .group .text-wrapper-10 {
    color: #000000;
    font-family: var(--h5-font-family);
    font-size: var(--h5-font-size);
    font-style: var(--h5-font-style);
    font-weight: var(--h5-font-weight);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .group .frame-9 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 3px;
    position: relative;
  }
  
  .group .location-on-fill {
    height: 17px;
    position: relative;
    width: 17px;
  }
  
  .group .text-wrapper-11 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 27.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .group .frame-10 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .group .frame-11 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 1px;
    position: relative;
  }
  
  .group .star-2 {
    height: 14.24px;
    position: relative;
    width: 14.87px;
  }
  
  .group .p {
    color: transparent;
    font-family: var(--caption-font-family);
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .group .text-wrapper-12 {
    color: #000000;
    font-family: var(--caption-font-family);
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
  }
  
  .group .text-wrapper-13 {
    color: #979797;
    font-family: var(--caption-font-family);
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
  }
  
  .group .frame-12 {
    align-items: center;
    background-color: var(--primriaroxo);
    border-radius: 30px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 157px;
  }
  
  .group .text-wrapper-14 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  